* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: start;
}

table {
  margin: 40px 0;
}

table {
  margin: 40px 0;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: center;
  border: 1px solid black;
}

.marked::after {
  content: 'x';
}

.inactive {
  background-color: #d9d8d882;
  cursor: not-allowed;
}